.wrapper{
  height: 100vh;
}
.menu{
  height: 100vh;
  min-width:250px!important;
}
.contact-form{
  max-width: 400px;
}
/* COLORS */
.bg-white{
  background-color: white;
}

.margin-left-50{
  margin-left: 50px;
}
.margin-left-100{
  margin-left: 100px;
}
.margin-top-50{
  margin-top: 50px;
}
.margin-top-100{
  margin-top: 100px;
}
